  <!-- Breadcrumb Start -->
<div class="breadcrumb-wrap mb-0">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Đăng nhập</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- forgot-password Start -->
<div class="forgot-password pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto" id="forgot-password">
                <div class="forgot-password-form p-5">
                    <h2 class="mb-3">Quên mật khẩu</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="font-weight-bold">E-mail <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" placeholder="Email đăng ký tài khoản" />
                        </div>
                        <div class="col-md-12 d-flex justify-content-spacearound">
                            <input class="form-control w-75" type="text" placeholder="Mã xác nhận" />
                            <input class="btn btn-primary w-25 h-75 ml-3" type="button" value="Lấy mã" />
                        </div>
                        <div class="col-md-12">
                            <h5 class="font-weight-bold mb-3">Đặt lại mật khẩu</h5>
                        </div>
                        <div class="col-md-12">
                            <label class="font-weight-bold">Mật khẩu mới <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" placeholder="Mật khẩu mới" />
                        </div>
                        <div class="col-md-12">
                            <label class="font-weight-bold">Xác nhận mật khẩu mới <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" placeholder="Xác nhận mật khẩu" />
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-success google w-100 font-size h-100">
                                Đặt lại mật khẩu
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forgot-password End -->