@{
    ViewData["Title"] = "Đăng nhập";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap mb-3">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Đăng nhập</li>
        </ul>
    </div>
    <div class="container" style="margin-top:10px">

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Success"]
            </div>

        }

    </div>
</div>
<!-- Breadcrumb End -->
<!-- Login Start -->
<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto" id="login">
                <div class="login-form pt-0">
                    <h2 class="mb-3">Đăng nhập</h2>
                    <form action="/Account/Login" method="post">
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                        <div class="row">
                            <div class="col-md-12">
                                <label class="font-weight-bold">Email hoặc tên đăng nhập <span class="text-danger">*</span></label>
                                <input class="form-control" value="@if (TempData["Username"] != null)
                                {
                                    @TempData["Username"]
                                }"
                                       type="text" name="username" placeholder="Vui lòng nhập email hoặc tên đăng nhập" />
                            </div>
                            <div class="col-md-12">
                                <label class="font-weight-bold">Mật khẩu <span class="text-danger">*</span></label>
                                <input class="form-control" type="password" name="password" placeholder="Vui lòng nhập mật khẩu" />
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount" />
                                    <label class="custom-control-label" for="newaccount">Ghi nhớ đăng nhập</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3 d-flex justify-content-between align-items-center">
                                <a asp-controller="Account" asp-action="ForgotPassword" class="text-primary font-weight-bold">Quên mật khẩu</a>
                                <a asp-controller="Account" asp-action="Register" id="btn-register" class="text-primary font-weight-bold">Tạo tài khoản</a>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-success w-100 font-size h-100">Đăng nhập</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->