@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
}

@section Styles {
    <link rel="stylesheet" href="~/admin/css/Custum.css">
}

@section Scripts {
    <script src="~/admin/js/zoom.js"></script>
    <script src="~/admin/js/apexcharts/apexcharts.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-1.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-2.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-3.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-4.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-5.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-6.js"></script>
    <script src="~/admin/js/switcher.js"></script>
    <script src="~/admin/js/theme-settings.js"></script>
}

<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Danh sách sản phẩm</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index.html">
                            <div class="text-tiny">Quản lý</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#">
                            <div class="text-tiny">Sản phẩm</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Danh sách</div>
                    </li>
                </ul>
            </div>
            <!-- product-list -->
            <div class="wg-box">
                <div class="flex items-center justify-between gap10 flex-wrap">
                    <div class="wg-filter flex-grow">
                        <div class="show">
                            <div class="text-tiny">Hiển thị</div>
                            <div class="select">
                                <select class="">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                </select>
                            </div>
                        </div>
                        <form class="form-search">
                            <fieldset class="name">
                                <input type="text" placeholder="Tìm kiếm" class="" name="name"
                                       tabindex="2" value="" aria-required="true" required="">
                            </fieldset>
                            <div class="button-submit">
                                <button class="" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>

                    </div>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="tf-button style-1 w208"><i class="icon-plus"></i>Thêm mới</a>
                </div>
                <div class="wg-table table-product-list">
                    <ul class="table-title flex gap20 mb-14">
                        <li>
                            <div class="body-title">Sản phẩm</div>
                        </li>
                        <li>
                            <div class="body-title">Mã sản phẩm</div>
                        </li>
                        <li>
                            <div class="body-title">Giá</div>
                        </li>
                        <li>
                            <div class="body-title">Số lượng</div>
                        </li>
                        <li>
                            <div class="body-title">Giảm giá</div>
                        </li>
                        <li>
                            <div class="body-title">Hành động</div>
                        </li>
                    </ul>
                    <ul class="flex flex-column">
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/41.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Dog Food,
                                        Chicken & Chicken Liver Recipe
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/42.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Grain Free Dry
                                        Dog Food | Rachael Ray® Nutrish®
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/43.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Weruva Pumpkin
                                        Patch Up! Pumpkin With Ginger...
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/44.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Milk-Bone
                                        Mini's Flavor Snacks Dog Treats, 15 Ounce
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/45.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Milk-Bone
                                        Mini's Flavor Snacks Dog Treats, 15 Ounce
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/46.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Weruva Pumpkin
                                        Patch Up! Dog & Cat Food...
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/47.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Kristin
                                        Watson
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/48.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Kristin
                                        Watson
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/49.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Kristin
                                        Watson
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/admin/images/products/50.png" alt="">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">
                                    <a href="product-list.html" class="body-title-2">
                                        Kristin
                                        Watson
                                    </a>
                                </div>
                                <div class="body-text">#7712309</div>
                                <div class="body-text">$1,452.500</div>
                                <div class="body-text">1,638</div>
                                <div class="body-text">20</div>

                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Detail"><i class="icon-eye"></i></a>
                                    </div>
                                    <div class="item edit">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Edit"><i class="icon-edit-3"></i></a>
                                    </div>
                                    <div class="item trash">
                                        <i class="icon-trash-2"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="divider"></div>
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Hiển thị: 10 sản phẩm</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /product-list -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->
    <!-- bottom-page -->
    <div class="bottom-page">
        <div class="body-text">Copyright © 2024 Remos. Design with</div>
        <i class="icon-heart"></i>
        <div class="body-text">by <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> All rights reserved.</div>
    </div>
    <!-- /bottom-page -->
</div>