<!-- Xác định kiểu dữ liệu được truyền từ controller -->
@model IEnumerable<OmegaStore.Models.Product>; 
<!-- Xác định kiểu dữ liệu được truyền từ controller -->

@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
}

@section Styles {
    <link rel="stylesheet" href="~/admin/css/Custum.css">
    <style>
        .btn.active {
            background-color: #007bff; /* Màu nền xanh lam */
            color: white; /* Màu chữ trắng */
            border-color: #0056b3; /* Đậm hơn khi active */
        }
    </style>
}

@section Scripts {
    <script src="~/admin/js/zoom.js"></script>
    <script src="~/admin/js/apexcharts/apexcharts.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-1.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-2.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-3.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-4.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-5.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-6.js"></script>
    <script src="~/admin/js/switcher.js"></script>
    <script src="~/admin/js/theme-settings.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/admin/js/Product.js"></script>
}

<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Danh sách sản phẩm</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index.html">
                            <div class="text-tiny">Quản lý</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#">
                            <div class="text-tiny">Sản phẩm</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Danh sách</div>
                    </li>
                </ul>
            </div> 
            <!-- product-list --> 
            <div class="wg-box">
                

            </div>
            <!-- /product-list -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->

    <!-- bottom-page -->
    <div class="bottom-page">
        <div class="body-text">Copyright © 2024 Remos. Design with</div>
        <i class="icon-heart"></i>
        <div class="body-text">by <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> All rights reserved.</div>
    </div>
    <!-- /bottom-page -->
</div>