<div class="col-md-3 text-right">
	<div class="user d-inline-block">
		<a asp-controller="Cart" asp-action="Index" class="btn btn-cart cart d-flex align-items-center justify-content-center">
			<i class="fa fa-shopping-cart"></i>
			<div class="text-left ml-3">
				<p class="m-0" style="font-size: 14px;">Sản phẩm: <span>@(ViewBag.TotalQuantity ?? 0)</span></p>
				<p class="m-0" style="font-size: 14px;">Thanh toán: <span>@(ViewBag.TotalPrice.ToString("N0") ?? 0) đ</span></p>
			</div>
		</a>
	</div>
</div>