@{
    ViewData["Title"] = "Danh Sách Đơn Hàng";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/admin/css/Custum.css">
}

@section Scripts {
    <script src="~/admin/js/zoom.js"></script>
    <script src="~/admin/js/apexcharts/apexcharts.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-1.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-2.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-3.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-4.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-5.js"></script>
    <script src="~/admin/js/apexcharts/line-chart-6.js"></script>
    <script src="~/admin/js/switcher.js"></script>
    <script src="~/admin/js/theme-settings.js"></script>
}

<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Danh sách đơn hàng</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index.html">
                            <div class="text-tiny">Quản lý</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#">
                            <div class="text-tiny">Đơn hàng</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Danh sách</div>
                    </li>
                </ul>
            </div>
            <!-- order-list -->
            <div class="wg-box">
                <div class="order-state">
                    <div class="d-flex justify-content-around">
                        <!-- Button 1: Nền xanh da trời, chữ trắng, bo góc, kích thước lớn -->
                        <button class="btn btn-primary text-white border border-primary rounded btn-lg">
                            Chờ xác
                            nhận
                        </button>

                        <!-- Button 2 -->
                        <button class="btn btn-outline-primary primary border-primary rounded btn-lg">Xác nhận</button>

                        <!-- Button 3 -->
                        <button class="btn btn-outline-primary primary border-primary rounded btn-lg">
                            Chuyển
                            giao
                        </button>

                        <!-- Button 4 -->
                        <button class="btn btn-outline-primary primary border-primary rounded btn-lg">Đã giao</button>
                        <!-- Button 5 -->
                        <button class="btn btn-outline-primary primary border-primary rounded btn-lg">Đã hủy</button>
                    </div>
                </div>
                <div class="flex items-center justify-between gap10 flex-wrap">
                    <div class="wg-filter flex-grow">
                        <div class="show">
                            <div class="text-tiny">Hiển thị</div>
                            <div class="select">
                                <select class="">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                </select>
                            </div>
                        </div>
                        <form class="form-search">
                            <fieldset class="name">
                                <input type="text" placeholder="Tìm kiếm" class="" name="name" tabindex="2" value=""
                                       aria-required="true" required="">
                            </fieldset>
                            <div class="button-submit">
                                <button class="" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <a class="tf-button style-1 w208" href="oder-detail.html"><i class="icon-file-text"></i>Xuất hóa đơn</a>
                </div>
                <div class="wg-table table-all-category">
                    <ul class="table-title flex gap20 mb-14 order-title-custum">

                        <li>
                            <div class="body-title">Mã đơn hàng</div>
                        </li>
                        <li>
                            <div class="body-title">Ngày lập</div>
                        </li>
                        <li>
                            <div class="body-title">Mã vận đơn</div>
                        </li>
                        <li>
                            <div class="body-title">Email</div>
                        </li>
                        <li>
                            <div class="body-title">Tổng tiền</div>
                        </li>
                        <li>
                            <div class="body-title">Hành động</div>
                        </li>
                    </ul>
                    <ul class="flex flex-column">
                        <li class="product-item gap14">

                            <div class="flex order-item-custum items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">

                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">

                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">

                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">

                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">

                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">

                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">

                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">

                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="product-item gap14">

                            <div class="flex items-center justify-between gap20 flex-grow">

                                <div class="body-text">#7712309</div>
                                <div class="body-text">05/10/2024</div>
                                <div class="body-text">SPX001038524</div>
                                <div class="body-text">nguyenvana@gmail.com</div>

                                <div class="body-text">200.200</div>
                                <div class="list-icon-function">
                                    <div class="item edit">
                                        <button class="btn btn-warning text-white  rounded btn-lg">Xác nhận</button>
                                    </div>
                                    <div class="input-button-container">
                                        <!-- Button -->
                                        <button class="btn-custom">Chuyển giao</button>

                                        <!-- Input -->
                                        <input type="text" class="input-custom" placeholder="MVĐ">
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-success white  rounded btn-lg">Đã giao</button>
                                    </div>
                                    <div class="item edit">
                                        <button class="btn btn-danger white  rounded btn-lg">Hủy đơn</button>
                                    </div>
                                    <div class="item eye">
                                        <i class="icon-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="divider"></div>
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Showing 10 entries</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /order-list -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->
    <!-- bottom-page -->
    <div class="bottom-page">
        <div class="body-text">Copyright © 2024 Remos. Design with</div>
        <i class="icon-heart"></i>
        <div class="body-text">by <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> All rights reserved.</div>
    </div>
    <!-- /bottom-page -->
</div>