    <!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Giới thiệu</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5>Giới thiệu</h5>
                <div class="img"><img src="~/img/onepiece-bg.jpg" alt="" /></div>
                <div class="content">
                    <p>
                        <span class="font-weight-bold">Mô hình Omega</span> ra đời vào
                        tháng 12 năm 2024 thuộc sở hữu bởi công ty Omega-Group, một tập
                        đoàn với niềm đam mê rất lớn với những món đồ chơi mô hình, đặc
                        biệt là các mô hình anime.
                    </p>
                    <p>
                        Các thành viên trong công ty với nhiều năm lăn lộn trong lĩnh
                        vực kinh doanh ở các Công ty, Tập đoàn lớn phân phối và bán lẻ
                        với mức thu nhập khá ổn định không làm chúng tôi thấy thỏa mãn.
                        Vì vậy chúng tôi đã quyết định dừng lại tất cả công việc khác để
                        tập tung xây dựng và phát triển
                        <span class="font-weight-bold">Mô hình Omega</span> để vừa được
                        làm việc vừa được thỏa mãn đam mể của chính mình.
                    </p>
                    <p>
                        Thời gian đầu xây dựng thương hiệu mới, lĩnh vực mới trải qua vô
                        vàn khó khăn: phải làm việc nhiều hơn, thu nhập không ổn định,
                        rủi ro nhiều hơn,... Nhưng rồi những khó khăn cũng nhanh chóng
                        qua đi khi tôi luôn hướng tới mục tiêu mang đến cho khách hàng
                        những sản phẩm, dịch vụ chất lượng, cho đi nhiều giá trị, lợi
                        ích mang đến cho khách hàng sự yên tâm và tin tưởng tuyệt đối
                        khi mua sắm tại
                        <span class="font-weight-bold">Mô hình Omega</span>.
                    </p>
                    <p>
                        Chúng tôi dần chiếm được sự tin tưởng, yêu mến và ủng hộ của nhiều
                        khách hàng (<span class="font-italic">những người anh em có cùng đam mê, sở thích với tôi</span>). Đó là động lực to lớn giúp tôi giữ vững niềm tin rằng tôi sẽ
                        còn thành công hơn nữa khi quyết định từ bỏ công việc với thu
                        nhập ổn định để sống và làm việc với niềm đam mê.
                    </p>
                    <p>
                        Mong rằng, những gì chúng tôi đang làm sẽ truyền được thêm nhiều cảm
                        hứng, thổi lửa đam mê cho những người anh em <span class="font-weight-bold">ĐÃ</span>, <span class="font-weight-bold">ĐANG</span> và <span class="font-weight-bold">SẮP</span>
                        chơi <span class="font-weight-bold">Mô hình điều khiển (RC)</span>. Xây dựng và phát triển cộng đồng
                        những người chơi <span class="font-weight-bold">RC</span> thật <span class="font-weight-bold">VĂN MINH</span> - <span class="font-weight-bold">ĐOÀN KẾT</span> - <span class="font-weight-bold">SÁNG TẠO</span>.
                    </p>
                    <p>Thân!</p>
                </div>
                <div class="info-store">
                    <h6 class="text-uppercase text-warning font-weight-bold">Thông tin tài khoản</h6>
                    <ul>
                        <li>Chủ tài khoản: <span class="font-weight-bold">Omega group</span></li>
                        <li>Số tài khoản: <span class="font-weight-bold">109876350042</span></li>
                        <li>Ngân hàng Tiên phong - chi nhánh Phạm Hùng <span class="font-weight-bold">(TPB)</span></li>
                    </ul>
                </div>
                <div class="detail-store">
                    <h6 class="text-uppercase text-primary font-weight-bold">Mô hình Omega</h6>
                    <p><i class="fas fa-star text-warning"></i> Cung cấp các sản phẩm đồ chơi mô hình tĩnh, mô hình điều khiển,...</p>
                    <p><i class="fas fa-star text-warning"></i> Luôn kiểm tra sản phẩm trước khi gửi cho khách hàng</p>
                    <p><i class="fas fa-star text-warning"></i> Chỉ cung cấp sản phẩm tốt, đảm bảo chất lượng đến tay khách hàng.</p>
                    <p><i class="fas fa-star text-warning"></i> Hỗ trợ sửa chữa, tư vấn, hướng dẫn sử dụng & nâng cấp sản phẩm tận tình, chu đáo.</p>
                    <p>Website: Omega.com</p>
                    <p>Địa chỉ: 65 Huỳnh Thúc Kháng, Phường Bến Nghé, Quận 1</p>
                    <p>Tư vấn & hỗ trợ: 0918 557 317 (Zalo)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->