@{
    Layout = "_Layout";
}

<div class="wrap-login-page">
    <div class="flex-grow flex flex-column justify-center gap30">
        <a href="index.html" id="site-logo-inner">

        </a>
        <div class="login-box">
            @RenderBody()
        </div>
    </div>
    <div class="text-tiny">Copyright © 2024 Omega, All rights reserved.</div>
</div>