<div class="section-menu-left">
    <div class="box-logo">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" id="site-logo-inner">
            <img id="" alt="logo.png" src="~/admin/images/logo/omega-logo.png" />
        </a>
        <div class="button-show-hide">
            <i class="icon-menu-left"></i>
        </div>
    </div>
    <div class="section-menu-left-wrap">
        <div class="center">
            <div class="center-item">
                <div class="center-heading">Trang chủ</div>
                <ul class="menu-list">
                    <li class="menu-item active">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="active">
                            <div class="icon"><i class="icon-grid"></i></div>
                            <div class="text">Tổng quan</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="center-item">
                <div class="center-heading">Quản lý</div>
                <ul class="menu-list">
                    <li class="menu-item has-children">
                        <a href="javascript:void(0);" class="menu-item-button">
                            <div class="icon">
                                <i class="icon-box"></i>
                            </div>
                            <div class="text">Sản phẩm</div>
                        </a>
                        <ul class="sub-menu">
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="">
                                    <div class="text">Danh sách sản phẩm</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="">
                                    <div class="text">Thêm sản phẩm</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="menu-item has-children">
                        <a href="javascript:void(0);" class="menu-item-button">
                            <div class="icon"><i class="icon-layers"></i></div>
                            <div class="text">Danh mục</div>
                        </a>
                        <ul class="sub-menu">
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="">
                                    <div class="text">Danh sách danh mục</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="">
                                    <div class="text">Thêm danh mục</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item has-children">
                        <a href="javascript:void(0);" class="menu-item-button">
                            <div class="icon"><i class="icon-paperclip"></i></div>
                            <div class="text">Thương hiệu</div>
                        </a>
                        <ul class="sub-menu">
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Brand" asp-action="Index" class="">
                                    <div class="text">Danh sách thương hiệu</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Brand" asp-action="Create" class="">
                                    <div class="text">Thêm thương hiệu mới</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="">
                            <div class="icon"><i class="icon-file-plus"></i></div>
                            <div class="text">Đơn hàng</div>
                        </a>
                    </li>
                    <li class="menu-item has-children">
                        <a href="javascript:void(0);" class="menu-item-button">
                            <div class="icon"><i class="icon-user"></i></div>
                            <div class="text">Tài khoản</div>
                        </a>
                        <ul class="sub-menu">
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Account" asp-action="Index" class="">
                                    <div class="text">Danh sách tài khoản</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Account" asp-action="Create" class="">
                                    <div class="text">Tạo tài khoản</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Contact" asp-action="Index" class="">
                                    <div class="text">Danh sách yêu cầu</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Contact" asp-action="Detail" class="">
                                    <div class="text">Chi tiết yêu cầu</div>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Roles" class="">
                            <div class="icon"><i class="icon-user-plus"></i></div>
                            <div class="text">Quyền hạn</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="gallery.html" class="">
                            <div class="icon"><i class="icon-image"></i></div>
                            <div class="text">Tài nguyên</div>
                        </a>
                    </li>
                    <li class="menu-item has-children">
                        <a href="javascript:void(0);" class="menu-item-button">
                            <div class="icon"><i class="icon-pie-chart"></i></div>
                            <div class="text">Thống kê</div>
                        </a>
                        <ul class="sub-menu">
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Home" asp-action="Report" class="">
                                    <div class="text">Tổng Quan Doanh thu</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Home" asp-action="Report" class="">
                                    <div class="text">Đơn hàng</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Home" asp-action="Report" class="">
                                    <div class="text">Sản Phẩm Bán Chạy</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Home" asp-action="Report" class="">
                                    <div class="text">Khách Hàng</div>
                                </a>
                            </li>

                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Home" asp-action="Report" class="">
                                    <div class="text">Kho Hàng</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a asp-area="Admin" asp-controller="Home" asp-action="Report" class="">
                                    <div class="text">Lợi Nhuận</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="center-item">
                <div class="center-heading">Giao diện webside</div>
                <ul class="menu-list">
                    <!-- <li class="menu-item">
                      <a href="setting.html" class="">
                        <div class="icon"><i class="icon-settings"></i></div>
                        <div class="text">Thông tin cửa hàng</div>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="info-website.html" class="">
                        <div class="icon"><i class="icon-settings"></i></div>
                        <div class="text">Thông tin Website</div>
                      </a>
                    </li> -->
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="InfoWebsite" asp-action="Index" class="">
                            <div class="icon"><i class="icon-edit"></i></div>
                            <div class="text">Sửa giao diện</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bot text-center">
            <div class="wrap"></div>
        </div>
    </div>
</div>