@* @model OmegaStore.Models.ViewModels.CartViewModel *@
@{
    ViewData["Title"] = "Giỏ hàng";
}

@section Styles {
    <link rel="stylesheet" href="~/css/cart.css">
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Giỏ hàng</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="cart-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="order-products mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cart-body">
                            
                        </tbody>
                    </table>
                </div>

                <!-- Pagination Start -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

                    </ul>
                </nav>
                <!-- Pagination Start -->
            </div>
            <div class="col-md-4">
                <div class="cart-summary p-3">
                    <div class="cart-content">

                    </div>
                    <div class="col-md-12 p-4" id="btn-checkout">
                        <a asp-controller="Cart" asp-action="Checkout" class="btn btn-outline-info py-2 px-3 w-100">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-md-4">
                <a asp-controller="Home" asp-action="Index"  class="btn btn-info">Tiếp tục mua sắm</a>
                <a class="btn btn-outline-danger" id="btn-clear-cart">Xóa giỏ hàng</a>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>
<!-- Cart End -->