<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - OmegaStore</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/lib/slick/slick.css" rel="stylesheet">
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v21.0"></script>
	<!-- Nav Bar Start -->
	@await Html.PartialAsync("_NavbarPartial")
	<!-- Nav Bar End -->
	<!-- Bottom Bar Start -->
    @await Html.PartialAsync("_BottombarPartial")
	<!-- Bottom Bar End -->
	<!-- Main Slider Start -->
	@RenderSection("Slider", required: false)
	<!-- Main Slider End -->

    <div class="container">
        @RenderBody()
    </div>

	<!-- Footer Start -->
	@await Html.PartialAsync("_FooterPartial")
	<!-- Footer Start -->

	<!-- Back to Top -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/lib/easing/easing.min.js"></script>
	<script src="~/lib/slick/slick.min.js"></script>
    <script>
        window.addEventListener('pageshow', function (event) {
            if (event.persisted || performance.getEntriesByType("navigation")[0].type === "back_forward") {
                // Gửi yêu cầu AJAX để kiểm tra trạng thái đăng nhập
                $.ajax({
                    url: '/Account/CheckSession', // API kiểm tra trạng thái session
                    type: 'GET',
                    success: function (response) {
                        if (response.isLoggedIn) {
                            // Cập nhật header khi đã đăng nhập
                            window.location.reload();
                        }
                    }
                });
            }
        });

        $(document).ready(function () {
            // Xử lý form đăng nhập
            $('#loginForm').submit(function (e) {
                e.preventDefault();  // Ngừng gửi form mặc định

                var username = $('#username').val();
                var password = $('#password').val();
                const rememberMe = document.getElementById("rememberMe").checked;

                $.ajax({
                    url: '/Account/LoginPopup',  // URL của action đăng nhập
                    type: 'POST',
                    data: {
                        username: username,
                        password: password,
                        rememberMe: rememberMe
                    },
                    success: function (response) {
                        if (response.success) {
                            // Nếu đăng nhập thành công, hiển thị username trong thông báo
                            Swal.fire({
                                title: 'Đăng nhập thành công!',
                                text: `Chào mừng bạn, ${response.username}!`,
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload(); // Tải lại trang khi bấm OK
                                }
                            });
                        } else {
                            // Hiển thị thông báo lỗi nếu đăng nhập thất bại
                            $('#errorMessage').text(response.message);
                        }
                    },
                    error: function () {
                        $('#errorMessage').text('Có lỗi xảy ra. Vui lòng thử lại.');
                    }
                });
            });
            $('#logoutButton').click(function (e) {
                e.preventDefault();  // Ngừng hành động
                $.ajax({
                    url: '/Account/LogoutPopup',  // URL của action đăng nhập
                    type: 'GET',
                    success: function (response) {
                        if (response.success) {
                            // Nếu đăng nhập thành công, reload trang hiện tại
                            window.location.reload();  // Tải lại trang
                        } else {
                            // Hiển thị thông báo lỗi nếu đăng nhập thất bại
                            $('#errorMessage').text(response.message);
                        }
                    },
                    error: function () {
                        $('#errorMessage').text('Có lỗi xảy ra. Vui lòng thử lại.');
                    }
                });
            });
        });
    </script>
	<!-- Template Javascript -->
	<script src="~/js/main.js"></script>
    <script src="~/js/cart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
