<div class="nav">
	<div class="container">
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
				<div class="navbar-nav mr-auto">
					<a asp-controller="Home" asp-action="Index" class="nav-item nav-link active font-weight-bold" style="padding:12px;">Trang Chủ</a>
					<a asp-controller="Home" asp-action="About" class="nav-item nav-link font-weight-bold" style="padding:12px;">Giới Thiệu</a>
					<div class="nav-item dropdown">
						<a asp-route="@Url.Action("Index", "Account")" class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown"
						   style="padding:12px;">Danh Mục</a>
						<div class="dropdown-menu">
							<a href="#" class="dropdown-item font-weight-bold">Danh mục 1</a>
							<a href="#" class="dropdown-item font-weight-bold">Danh mục 2</a>
							<a href="#" class="dropdown-item font-weight-bold">Danh mục 3</a>
						</div>
					</div>
					<a asp-controller="Home" asp-action="Contact" class="nav-item nav-link font-weight-bold" style="padding:12px;">Liên Hệ</a>
				</div>
				<div class="navbar-nav ml-auto">
					<div class="nav-item dropdown">
						<a asp-route="@Url.Action("Index", "Account")" class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown"
						   style="padding:12px;">Tài Khoản</a>
						<div class="dropdown-menu">
							<a asp-controller="Account" asp-action="Login" class="dropdown-item font-weight-bold">Đăng nhập</a>
							<div class="dropdown-divider"></div>
							<a asp-controller="Account" asp-action="Register" class="dropdown-item font-weight-bold">Đăng ký</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>