

<div class="nav">
	<div class="container">
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
				<div class="navbar-nav mr-auto">
					<a asp-controller="Home" asp-action="Index" class="nav-item nav-link active font-weight-bold" style="padding:12px;">Trang Chủ</a>
					<a asp-controller="Home" asp-action="About" class="nav-item nav-link font-weight-bold" style="padding:12px;">Giới Thiệu</a>
					<div class="nav-item dropdown">
						<a asp-route="@Url.Action("Index", "Account")" class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown"
						   style="padding:12px;">Danh Mục</a>
						@await Component.InvokeAsync("CategoryMenu")
					</div>

					<a asp-controller="Home" asp-action="Contact" class="nav-item nav-link font-weight-bold" style="padding:12px;">Liên Hệ</a>
					<a asp-controller="Post" asp-action="Index" class="nav-item nav-link font-weight-bold" style="padding:12px;">Tin tức</a>
				</div>
				<div class="navbar-nav ml-auto">
					<div class="nav-item dropdown">				
						@if (Context.Session.GetString("Username") == null)
						{
							<a class="nav-link dropdown-toggle font-weight-bold" id="toggleDivBtn"
							   style="padding:12px;cursor:pointer">Tài Khoản</a>
							<div class="dropdown-menu popup-login border border-secondary" id="myDiv">
								<form id="loginForm">
									<div class="col-md-12 mb-3 text-center">
										<h3 class="font-weight-bold">Đăng nhập</h3>
										<span id="errorMessage" style="color:red"></span>
									</div>
									<div class="col-md-12">
										<label class="font-weight-bold">Email hoặc tên đăng nhập <span class="text-danger">*</span></label>
										<input class="form-control" type="text" id="username" name="username" placeholder="Vui lòng nhập email hoặc tên đăng nhập" style="font-size: 13px;" />
									</div>
									<div class="col-md-12">
										<label class="font-weight-bold">Mật khẩu <span class="text-danger">*</span></label>
										<input class="form-control" type="password" id="password" name="password" placeholder="Vui lòng nhập mật khẩu" style="font-size: 13px;" />
									</div>
									<div class="col-md-12 d-flex justify-content-between">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" style="cursor:pointer" class="custom-control-input" id="rememberMe" />
											<label class="custom-control-label" for="rememberMe">Ghi nhớ</label>
										</div>
										<a asp-controller="Account" asp-action="ForgotPassword" class="text-primary font-weight-bold" style="font-size: 13px;">Quên mật khẩu</a>
									</div>
									<div class="col-md-12">
										<button class="btn btn-success w-100 h-100" style="font-size: 18px;">Đăng nhập</button>
									</div>
									<div class="col-md-12 text-center">
										<a asp-controller="Account" asp-action="Register" id="btn-register" class="d-inline-block pt-2 text-primary font-weight-bold" style="font-size: 13px;">Tạo tài khoản mới</a>
									</div>
								</form>
							</div>
						}
						else
						{
							<a asp-controller="Account" id="toggleDivBtn" asp-action="index" class="nav-link dropdown-toggle font-weight-bold"
							   style="padding:12px;">@Context.Session.GetString("Username")</a>
							<div class="dropdown-menu border border-secondary" id="myDiv">
								<a asp-controller="Account" asp-action="Index" class="dropdown-item font-weight-bold">Tài khoản cá nhân</a>
								<div class="dropdown-divider"></div>
								<a id="logoutButton" class="dropdown-item font-weight-bold" style="cursor:pointer">Đăng xuất</a>
							</div>
						}
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
<script>
	// Lắng nghe sự kiện click vào liên kết
	document.getElementById('toggleDivBtn').addEventListener('click', function (event) {
		event.preventDefault(); // Ngăn không cho thực hiện hành động mặc định

		// Tìm thẻ div bằng ID 'myDiv'
		var div = document.getElementById('myDiv');

		if (div.classList.contains('show')) {
			div.classList.remove('show'); // Bỏ class 'show' nếu có
		} else {
			div.classList.add('show'); // Thêm class 'show' nếu chưa có
		}
	});


</script>