@model ICollection<Contact>
@{
    ViewData["Title"] = "Danh Sách Thư Liên Hệ";
}

@section Styles {
    <link rel="stylesheet" href="~/admin/css/All.css">
    <link rel="stylesheet" href="~/admin/css/contact.css">

}

@section Scripts {
    <script src="~/admin/js/zoom.js"></script>
    <script src="~/admin/js/switcher.js"></script>
    <script src="~/admin/js/theme-settings.js"></script>
}

<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Danh sách yêu cầu hỗ trợ</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index.html">
                            <div class="text-tiny">Tổng quan</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#">
                            <div class="text-tiny">Liên hệ</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Danh sách yêu cầu hỗ trợ</div>
                    </li>
                </ul>
            </div>
            <!-- order-list -->
            <div class="wg-box">
                <div class="flex items-center justify-between gap10 flex-wrap">
                    <div class="wg-filter flex-grow">
                        <form class="form-search">
                            <fieldset class="name">
                                <input type="text" placeholder="Tìm kiếm..." class="" name="name" tabindex="2" value=""
                                    aria-required="true" required="">
                            </fieldset>
                            <div class="button-submit">
                                <button class="" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- <a class="tf-button style-1 w208" href="oder-detail.html"><i class="icon-file-text"></i>Export all order</a> -->
                </div>
                <div class="wg-table table-all-category w-100 " style="min-width:1005px ;">
                    <table class="status-table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tiêu Đề</th>
                                <th>Mã Vận Đơn</th>
                                <th>Trạng Thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var stt = 0;
                                foreach (var item in Model)
                                {
                                    stt++;
                                    <tr>
                                        <td colspan="4">
                                            <a asp-area="Admin" asp-controller="Contact" asp-action="Detail"
                                                asp-route-id="@item.ContactId">
                                                <div class="row">
                                                    <div class="col">@stt</div>
                                                    <div class="col">@item.Subject</div>
                                                    <div class="col">@item.OderCode</div>
                                                    <div class="col">
                                                        @if (item.Status == RequestStatus.Resolved)
                                                        {
                                                            <span class="status status-done">Đã xử lý</span>
                                                        }
                                                        @if (item.Status == RequestStatus.Unresolved)
                                                        {
                                                            <span class="status status-pending">Chưa xử lý</span>
                                                        }
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>

                </div>
                <div class="flex items-center justify-content-between flex-wrap gap10">
                    <div class="text-tiny">Hiển thị 10 mục</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /order-list -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->
    <!-- bottom-page -->
    <div class="bottom-page">
        <div class="body-text">Copyright © 2024 Remos. Design with</div>
        <i class="icon-heart"></i>
        <div class="body-text">by <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> All rights
            reserved.</div>
    </div>
    <!-- /bottom-page -->
</div>