@model OmegaStore.Models.WebsiteInfo

<div class="col-lg-2 col-md-6">
	<div class="footer-widget">
		<h2 style="visibility: hidden;">Logo</h2>
		<div class="contact-info">
			<a asp-controller="Home" asp-action="Index" class="d-inline-block">
				<img src="~/img/@Model.Logo" width="100" alt="Logo" />
			</a>
		</div>
	</div>
</div>

<div class="col-lg-3 col-md-6">
	<div class="footer-widget">
		<h2>Thông Tin Liên Hệ</h2>
		<div class="contact-info">
			@Html.Raw(Model.ContactInfo)
		</div>
	</div>
</div>

<div class="col-lg-3 col-md-6">
	<div class="footer-widget">
		<h2>Chính Sách</h2>
		<ul>
			<li>
				<a asp-controller="Post" asp-action="Detail" asp-route-slug="phuong-thuc-thanh-toan">Chính sách thanh toán</a>
			</li>
			<li>
				<a asp-controller="Post" asp-action="Detail" asp-route-slug="dich-vu-van-chuyen">Chính sách giao hàng</a>
			</li>
			<li>
				<a asp-controller="Post" asp-action="Detail" asp-route-slug="doi-tra-hang-nhanh">Chính sách đổi trả</a>
			</li>
			<li>
				<a asp-controller="Post" asp-action="Detail" asp-route-slug="ho-tro">Chính sách hỗ trợ</a>
			</li>
		</ul>
	</div>
</div>

<div class="col-lg-4 col-md-6">
	<div class="footer-widget">
		<h2>Trang Cộng Đồng</h2>
		@Html.Raw(Model.Fanpage)
	</div>
</div>