<!-- Xác định kiểu dữ liệu được truyền từ controller -->
@model IEnumerable<OmegaStore.Models.Role>;
<!-- Xác định kiểu dữ liệu được truyền từ controller -->

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/admin/css/Custum.css">
}

@section Scripts {
    <script src="~/admin/js/bootstrap.min.js"></script>
    <script src="~/admin/js/bootstrap-select.min.js"></script>
    <script src="~/admin/js/zoom.js"></script>
    <script src="~/admin/js/switcher.js"></script>
    <script src="~/admin/js/theme-settings.js"></script>
}

<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Danh sách vai trò</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index.html">
                            <div class="text-tiny">Tổng quan</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#">
                            <div class="text-tiny">Vai trò</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Danh sách vai trò</div>
                    </li>
                </ul>
            </div>
            <!-- all-roles -->
            <div class="wg-box">

                <!--Form tìm kiếm-->
                <div class="flex items-center justify-between gap10 flex-wrap">
                    <div class="wg-filter flex-grow">
                        <form class="form-search">
                            <fieldset class="name">
                                <input type="text" placeholder="Tìm kiếm..." class="" name="name"
                                       tabindex="2" value="" aria-required="true" required="">
                            </fieldset>
                            <div class="button-submit">
                                <button class="" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Form tìm kiếm-->

                <div class="wg-table table-all-roles">
                    <!---->
                    <ul class="table-title flex gap20 mb-14">
                        <li>
                            <div class="body-title">Mã</div>
                        </li>
                        <li>
                            <div class="body-title">Tên vai trò</div>
                        </li>
                        <li>
                            <div class="body-title">Mô tả</div>
                        </li>
                    </ul>
                    <!---->

                    <!--Danh sách vai trò-->
                    <ul class="flex flex-column">
                        @foreach (var role in Model)
                        {
                            <li class="roles-item">
                                <div class="body-text">@role.Id</div>
                                <div class="body-text">@role.Name</div>
                                <div class="body-text">@role.Description</div>
                            </li>
                        }
                    </ul>
                    <!--Danh sách vai trò-->

                </div>

                <div class="divider"></div>

                <!--Phân trang-->
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Hiển thị 10 / 10</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
                <!--Phân trang-->

            </div>
            <!-- /all-roles -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->
    <!-- bottom-page -->
    <div class="bottom-page">
        <div class="body-text">Copyright © 2024 Remos. Design with</div>
        <i class="icon-heart"></i>
        <div class="body-text">
            by <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> All rights
            reserved.
        </div>
    </div>
    <!-- /bottom-page -->
</div>