@{
    ViewData["Title"] = "Chi tiết bài viết";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Bài viết</li>
            <li class="breadcrumb-item active text-uppercase">
                Mua kèm deal sốc - giảm đến 70%
            </li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Post detail Start -->
<div class="post-detail mt-5">
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-9">
                <div class="post-heading">
                    <h5 class="title text-uppercase font-weight-bold">
                        Mua kèm deal sốc - giảm đến 70%
                    </h5>
                    <div class="meta d-flex">
                        <p class="author">bởi: Đỗ Duy</p>
                        <p class="date ml-5">02 tháng 01, 2025</p>
                    </div>
                </div>
                <div class="post-content">
                    <div class="post-img p-2">
                        <img class="d-block w-100"
                             src="~/img/deal_soc_banner.jpg"
                             alt="" />
                    </div>
                    <div class="list-content p-4">
                        <h6 class="menu-title font-weight-bold">Các nội dung chính</h6>
                        <ul class="menu pl-3 mt-3">
                            <li><a href="#">1. Thời gian</a></li>
                            <li><a href="#">2. Nội dung chương trình</a></li>
                            <li><a href="#">3. Cách thức đặt hàng hợp lệ</a></li>
                            <li><a href="#">4. Đối tượng tham gia</a></li>
                            <li><a href="#">5. Lưu ý</a></li>
                            <li><a href="#">6. Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                    <p class="entry-content font-weight-bold pl-1">
                        Mua kèm deal sốc hơn 130 sản phẩm HOT giảm giá đến 70% khi mua
                        sắm với hóa đơn từ 299K . Áp dụng từ 7.1 ~ 15/1. FREESHIP với
                        đơn từ 290K
                    </p>

                    <div class="main-content">
                        <h4 class="font-weight-bold" id="thoi-gian">1. Thời gian</h4>
                        <p>
                            Từ <strong>7.1</strong> đến hết ngày <strong>15.1</strong>
                        </p>
                        <h4 class="font-weight-bold" id="noi-dung">
                            2. Nội dung chương trình
                        </h4>
                        <p>
                            Khi mua sắm với hóa đơn từ <strong>299k</strong>, quý khách sẽ
                            được tham gia chương trình Mua Kèm Deal Sốc hơn 130 sản phẩm
                            HOT với giá giảm đến 70%
                        </p>
                        <p>
                            Danh sách sản phẩm thuộc chương trình
                            <strong>Deal Sốc 2025</strong> quý khách xem tại đây:
                            <a href="#">https://omega.vn/collections/deal-soc-2024/</a>
                        </p>
                        <p class="font-weight-bold">Cụ thể như sau:</p>
                        <p>
                            - Hóa Đơn (HD) từ <strong>299k</strong>: Mua 1 sản phẩm có tag
                            <span class="text-primary">Deal Sốc 99k</span> chỉ với giá
                            <strong>99k</strong>
                        </p>
                        <p>
                            - HĐ từ <strong>499K</strong>: Mua 1 sản phẩm có tag
                            <span class="text-primary">Deal Sốc 299K</span> chỉ với giá
                            <strong>299K</strong>
                        </p>
                        <p>
                            - HĐ từ <strong>699K</strong>: Mua 1 sản phẩm có tag
                            <span class="text-primary">Deal Sốc 499K</span> chỉ với giá
                            <strong>499K</strong>
                        </p>
                        <p>
                            - HĐ từ <strong>899K</strong>: Mua 1 sản phẩm có tag
                            <span class="text-primary">Deal Sốc 699K</span> chỉ với giá
                            <strong>699K</strong>
                        </p>
                        <p>
                            - HĐ từ <strong>1099K</strong>: Mua 1 sản phẩm có tag
                            <span class="text-primary">Deal Sốc 899K</span> chỉ với giá
                            <strong>899K</strong>
                        </p>
                        <p>
                            - HĐ từ <strong>1499K</strong>: Mua 1 sản phẩm có tag
                            <span class="text-primary">Deal Sốc 1099K</span> chỉ với giá
                            <strong>1099K</strong>
                        </p>
                        <p>
                            <i>Áp dụng mua nhiều sản phẩm Deal Sốc trên cùng 1 hóa đơn</i>
                        </p>
                        <p><i>Không giới hạn số lần mua sắm</i></p>
                        <p><i>Áp dụng FREESHIP đối với hóa đơn từ 290K</i></p>
                        <p>
                            <i>
                                Không áp dụng sản phẩm Deal Sốc đối với các chương trình
                                khuyến mãi khác. Quyền quyết định cuối cùng thuộc về
                                Omega
                            </i>
                        </p>
                        <h4 class="font-weight-bold" id="dat-hang-hop-le">
                            3. Cách thức đặt hàng hợp lệ
                        </h4>
                        <p>
                            <strong>Ví dụ: </strong>Khách hàng mua 3 sản phẩm trong giỏ
                            hàng (sản phẩm A = 400.000đ, sản phẩm B = 600.00đ, sản phẩm C
                            = 500.000đ)
                        </p>
                        <p>
                            Tổng hóa đơn: 1.500.000đ, áp voucher giảm 4% (60K) => Tổng
                            thanh toán: 1.440.000 đ
                        </p>
                        <p>
                            Quý khách hàng được tham gia chương trình
                            <strong>Deal Sốc 2024</strong> linh hoạt như sau:
                        </p>
                        <p style="color: #16a085">
                            - Lựa chọn 1: mua 4 sản phẩm trong danh sách Deal Sốc 99K,
                            tổng đơn: 1.440.000 đ + (99.000 * 4) = 1.836.000đ
                        </p>
                        <p style="color: #16a085">
                            - Lựa chọn 2: mua 2 sản phẩm trong danh sách Deal Sốc 299K và
                            1 sản phẩm trong danh sách Deal Sốc 99K, tổng đơn: 1.440.000 đ
                            + (299.000 đ * 2) + 99.000 đ = 2.137.000 đ
                        </p>
                        <p style="color: #16a085">
                            - Lựa chọn 3: mua 2 sản phẩm trong danh sách Deal Sốc 499k,
                            tổng đơn: 1.440.000 đ + (499.000 đ * 2) = 2.438.000 đ
                        </p>
                        <p style="color: #16a085">
                            - Lựa chọn 4: mua 1 sản phẩm trong danh sách Deal Sốc 699K và
                            1 sản phẩm trong danh sách Deal Sốc 299K, tổng đơn: 1.440.000
                            đ + 699.000 đ + 299.000 đ = 2.438.000 đ
                        </p>
                        <p style="color: #16a085">
                            - Lựa chọn 5: mua 1 sản phẩm trong danh sách Deal Sốc 899k và
                            1 sản phẩm trong danh sách Deal Sốc 99K, tổng đơn: 1.440.000 đ
                            + 899.000 đ + 99.000 đ = 2.438.000 đ
                        </p>
                        <p>
                            Quý khách có thể tự linh động kết hợp tùy vào giá trị hóa đơn,
                            có thể mua 1 hoặc nhiều sản phẩm Deal Sốc.
                        </p>
                        <p>
                            Trong trường hợp quý khách hàng gặp khó khăn hoặc chưa nắm rõ
                            về chương trình. Vui lòng liên hệ Hotline:
                            <strong>090 8427608</strong> (Mr. Duy)
                        </p>
                        <p>
                            <i>Đối với hóa đơn từ 290K, quý khách sẽ được FREESHIP</i>
                        </p>
                        <h4 class="font-weight-bold" id="doi-tuong-tham-gia">
                            4. Đối tượng tham gia
                        </h4>
                        <p>
                            Tất cả khách hàng mua tại showroom, mua online thông qua
                            Fanpage Facebook và đặt hàng trên Website
                            <a href="#">https://omega.vn</a>
                        </p>
                        <h4 class="font-weight-bold" id="luu-y">5. Lưu ý</h4>
                        <p>
                            Quý khách hàng vui lòng liên hệ nhân viên để kiểm tra tình
                            trạng còn hàng của các sản phẩm thông qua qua Hotline:
                            <strong>090 8427608</strong> (Mr. Duy)
                        </p>
                        <p>
                            <i>
                                Không áp dụng đổi trả, bảo hành đối với sản phẩm tham gia
                                chương trình <strong>Deal Sốc 2024</strong>
                            </i>
                        </p>
                        <h4 class="font-weight-bold" id="cau-hoi">
                            6. Câu hỏi thường gặp
                        </h4>
                        <p>
                            <strong>
                                Q: Đơn gốc của mình trên 290k có được miễn ship
                                không?
                            </strong><br /><span>A: Có</span>
                        </p>
                        <p>
                            <strong>
                                Q: Mình muốn tư vấn trực tiếp, hotline của bạn là
                                gì?
                            </strong><br /><span>A: Hotline: <strong>090 8427608</strong> (Mr. Duy)</span>
                        </p>
                        <p>
                            <strong>Q: Chương trình có tích điểm AP cho mình không?</strong><br /><span>A: Có</span>
                        </p>
                    </div>
                    <div class="post-nav mt-5">
                        <div class="row" style="color: #574635">
                            <div class="col-lg-8">
                                <p class="nav-title">
                                    Đang xem:
                                    <strong class="text-uppercase">Mua kèm deal sốc - giảm đến 70%</strong>
                                </p>
                            </div>
                            <div class="col-lg-4 text-right">
                                <div class="navigation">
                                    <a class="font-weight-bold" style="color: #574635" href=""><span>Bài trước</span></a>
                                    <span class="mr-2 ml-2">|</span>
                                    <a class="font-weight-bold" style="color: #574635" href=""><span>Bài sau</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 right pl-4 mt-4">
                <h6 class="font-weight-bold">Bài viết gần đây</h6>
                <div class="row list-blogs">
                    <div class="col-md-12 item mb-3 d-flex justify-content-between position-relative">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">1</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="~/img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                    <div class="col-md-12 item mb-3 d-flex justify-content-between">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">2</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="~/img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                    <div class="col-md-12 item mb-3 d-flex justify-content-between">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">3</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="~/img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                    <div class="col-md-12 item mb-3 d-flex justify-content-between">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">4</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="~/img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                    <div class="col-md-12 item mb-3 d-flex justify-content-between">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">5</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="~/img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Post detail End -->