@{
    ViewData["Title"] = "Danh sách bài viết";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Bài viết</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Post list Start -->
<div class="post-list">
    <div class="container">
        <form action="#">
            <input type="text"
                   class="form-control w-50 m-auto"
                   placeholder="Nhập từ khóa liên quan để tìm bài viết" />
            <button><i class="fas fa-search"></i></button>
        </form>
        <div class="row mt-3">
            <div class="col-lg-9">
                <h5 class="mb-3 font-weight-bold">Bài viết</h5>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-img">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="card-content p-2">
                            <p class="title text-capitalize font-weight-bold mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p class="entry-content mb-2">
                                Gấp đôi ưu đãi tặng Chậu Hoa Nhỏ, Thiên Ngữ Hạc hoặc Lân
                                Phát Tài Mini mừng Xuân Giáp Thìn. Khuyến mãi diễn ra từ
                                20.1 đến 2.2 với hoá đơn từ 599k và miễn phí giao hàng tận
                                nơi
                            </p>
                            <div class="card-meta d-flex justify-content-between">
                                <p class="author">bởi: Đỗ Duy</p>
                                <p class="date">01 tháng 01, 2025</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-img">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="card-content p-2">
                            <p class="title text-capitalize font-weight-bold mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p class="entry-content mb-2">
                                Gấp đôi ưu đãi tặng Chậu Hoa Nhỏ, Thiên Ngữ Hạc hoặc Lân
                                Phát Tài Mini mừng Xuân Giáp Thìn. Khuyến mãi diễn ra từ
                                20.1 đến 2.2 với hoá đơn từ 599k và miễn phí giao hàng tận
                                nơi
                            </p>
                            <div class="card-meta d-flex justify-content-between">
                                <p class="author">bởi: Đỗ Duy</p>
                                <p class="date">01 tháng 01, 2025</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-img">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="card-content p-2">
                            <p class="title text-capitalize font-weight-bold mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p class="entry-content mb-2">
                                Gấp đôi ưu đãi tặng Chậu Hoa Nhỏ, Thiên Ngữ Hạc hoặc Lân
                                Phát Tài Mini mừng Xuân Giáp Thìn. Khuyến mãi diễn ra từ
                                20.1 đến 2.2 với hoá đơn từ 599k và miễn phí giao hàng tận
                                nơi
                            </p>
                            <div class="card-meta d-flex justify-content-between">
                                <p class="author">bởi: Đỗ Duy</p>
                                <p class="date">01 tháng 01, 2025</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="card-img">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="card-content p-2">
                            <p class="title text-capitalize font-weight-bold mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p class="entry-content mb-2">
                                Gấp đôi ưu đãi tặng Chậu Hoa Nhỏ, Thiên Ngữ Hạc hoặc Lân
                                Phát Tài Mini mừng Xuân Giáp Thìn. Khuyến mãi diễn ra từ
                                20.1 đến 2.2 với hoá đơn từ 599k và miễn phí giao hàng tận
                                nơi
                            </p>
                            <div class="card-meta d-flex justify-content-between">
                                <p class="author">bởi: Đỗ Duy</p>
                                <p class="date">01 tháng 01, 2025</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-img">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="card-content p-2">
                            <p class="title text-capitalize font-weight-bold mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p class="entry-content mb-2">
                                Gấp đôi ưu đãi tặng Chậu Hoa Nhỏ, Thiên Ngữ Hạc hoặc Lân
                                Phát Tài Mini mừng Xuân Giáp Thìn. Khuyến mãi diễn ra từ
                                20.1 đến 2.2 với hoá đơn từ 599k và miễn phí giao hàng tận
                                nơi
                            </p>
                            <div class="card-meta d-flex justify-content-between">
                                <p class="author">bởi: Đỗ Duy</p>
                                <p class="date">01 tháng 01, 2025</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-img">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="card-content p-2">
                            <p class="title text-capitalize font-weight-bold mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p class="entry-content mb-2">
                                Gấp đôi ưu đãi tặng Chậu Hoa Nhỏ, Thiên Ngữ Hạc hoặc Lân
                                Phát Tài Mini mừng Xuân Giáp Thìn. Khuyến mãi diễn ra từ
                                20.1 đến 2.2 với hoá đơn từ 599k và miễn phí giao hàng tận
                                nơi
                            </p>
                            <div class="card-meta d-flex justify-content-between">
                                <p class="author">bởi: Đỗ Duy</p>
                                <p class="date">01 tháng 01, 2025</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Trước</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Sau</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>
            <div class="col-lg-3 right pl-4">
                <h6 class="font-weight-bold">Bài viết gần đây</h6>
                <div class="row list-blogs">
                    <div class="col-md-12 item mb-3 d-flex justify-content-between position-relative">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">1</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                    <div class="col-md-12 item mb-3 d-flex justify-content-between">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">2</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                    <div class="col-md-12 item mb-3 d-flex justify-content-between">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">3</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                    <div class="col-md-12 item mb-3 d-flex justify-content-between">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">4</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                    <div class="col-md-12 item mb-3 d-flex justify-content-between">
                        <div class="num bg-warning position-absolute d-flex justify-content-center align-items-center">
                            <span class="d-block">5</span>
                        </div>
                        <div class="item-img w-50">
                            <a href="#">
                                <img class="d-block w-100" src="img/banner-tet.jpg" alt="" />
                            </a>
                        </div>
                        <div class="item-content w-50">
                            <p class="title text-capitalize mb-2">
                                <a href="#">Nhân đôi ưu đãi - mừng xuân giáp thìn</a>
                            </p>
                            <p>Tin tức - <span class="text-primary">02.01.2025</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Post list End -->