@model IEnumerable<OmegaStore.Models.Category>

<div class="dropdown-menu">

	@foreach (var cate in Model)
	{
		<a asp-controller="Category" asp-action="ListProduct" asp-route-slug="@cate.Slug" class="dropdown-item font-weight-bold">@cate.Name</a>
	}



</div>
