<!-- Xác định kiểu dữ liệu được truyền từ controller -->
@model IEnumerable<OmegaStore.Models.Account>;
<!-- Xác định kiểu dữ liệu được truyền từ controller -->
@{
    ViewData["Title"] = "Danh Sách Tài Khoản";
}

@section Styles {

}

@section Scripts {
    <script src="~/admin/js/zoom.js"></script>
    <script src="~/admin/js/switcher.js"></script>
    <script src="~/admin/js/theme-settings.js"></script>
}

<div class="main-content">
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Quản lý tài khoản</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index.html"><div class="text-tiny">Quản lý</div></a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a href="#"><div class="text-tiny">Tài khoản</div></a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Danh sách tài khoản</div>
                    </li>
                </ul>
            </div>
            <!-- all -->
            <div class="wg-box">

                <!--Tài khoản theo vai trò-->
                <div class="flex items-center gap10">
                    <a href="#" class="fw-bold btn btn-info btn-lg">Khách hàng</a>
                    <a href="#" class="fw-bold btn btn-outline-info btn-lg">Quản lý bán hàng</a>
                    <a href="#" class="fw-bold btn btn-outline-info btn-lg">Quản lý kho</a>
                    <a href="#" class="fw-bold btn btn-outline-info btn-lg">Quản trị viên</a>                                  
                </div>
                <!--Tài khoản theo vai trò-->

                <div class="flex items-center justify-between gap10 flex-wrap">
                    <div class="wg-filter flex-grow">

                        <!--Số lượng hiển thị mỗi trang-->
                        <div class="show">
                            <div class="text-tiny">Hiển thị</div>
                            <div class="select">
                                <select class="">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                </select>
                            </div>
                                               
                        </div>
                        <!--Số lượng hiển thị mỗi trang-->

                        <!--Form tìm kiếm-->
                        <form class="form-search">
                            <fieldset class="name">
                                <input type="text" placeholder="Tìm kiếm" class="" name="name" tabindex="2" value="" aria-required="true" required="">
                            </fieldset>
                            <div class="button-submit">
                                <button class="" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                        <!--Form tìm kiếm-->
    
                        <!--Lọc tạng thái-->
                        <div class="">                                        
                            <div class="select" style="width: 130px;">
                                <select class="">
                                    <option selected disabled>Trạng thái</option>
                                    <option>Hoạt động</option>
                                    <option>Bị khóa</option>
                                </select>
                            </div>                                               
                        </div>
                        <!--Lọc tạng thái-->

                    </div>

                    <!--Nút thêm mới-->
                    <a class="tf-button style-1 w208" href="new-account.html"><i class="icon-plus"></i>Thêm mới</a>
                    <!--Nút thêm mới-->

                </div>

                <!--Danh sách tài khoản-->
                <div class="wg-table table-all-category" style="min-width: 1100px;">
                    <!---->
                    <ul class="table-title flex gap20 mb-14">
                        <li style="width: 200px;">
                            <div class="body-title" style="width: 200px;">Tên tài khoản</div>
                        </li>  
                        <li>
                            <div class="body-title">Số điện thoại</div>
                        </li>
                        <li>
                            <div class="body-title">Ngày tạo</div>
                        </li>    
                        <li>
                            <div class="body-title">Vai trò</div>
                        </li>
                        <li>
                            <div class="body-title">Trạng thái</div>
                        </li>                                           
                        <li>
                            <div class="body-title">Hành động</div>
                        </li>
                    </ul>
                    <!---->

                    <ul class="flex flex-column">
                        @foreach (var account in Model)
                        {
                            <li class="product-item gap14">                                                
                                <div class="flex items-center justify-between gap20 flex-grow">
                                    <div class="body-text" style="width: 200px;">@account.Username</div>
                                    <div class="body-text">@account.Phone</div>                                                    
                                    <div class="body-text">@account.CreatedAt</div>        
                                    <div class="body-text">@account.Role</div>
                                    <div class="body-text"><button type="button" class="btn btn-lg btn-danger" style="border-radius: 20px;" disabled>Bị khóa</button></div>
                                    <div class="list-icon-function">    
                                        <a href="account-detail.html">
                                            <div class="item eye">
                                                <i class="icon-eye"></i> 
                                            </div>  
                                        </a>
                                        <a href="account-edit.html">                                               
                                            <div class="item edit">
                                                <i class="icon-edit-3"></i>
                                            </div>
                                        </a>  
                                        <div class="item trash">
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }                                          
                    </ul>
                </div>
                <!--Danh sách tài khoản-->

                <div class="divider"></div>

                <!--Phân trang-->
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Showing 10 entries</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
                <!--Phân trang-->

            </div>
            <!-- /all-category -->
        </div>
        <!-- /main-content-wrap -->
    </div>
    <!-- /main-content-wrap -->
    <!-- bottom-page -->
    <div class="bottom-page">
        <div class="body-text">Copyright © 2024 Remos. Design with</div>
        <i class="icon-heart"></i>
        <div class="body-text">by <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a> All rights reserved.</div>
    </div>
    <!-- /bottom-page -->
</div>